pom.xml
pom.xml.asc

.lein-failures
.nrepl-port
checkouts
classes
lib
ltximg
target

/.lein-failures/
/.nrepl-port/
/checkouts/
/classes/
/lib/
/ltximg/
/target/

.lein-failures/
.nrepl-port/
checkouts/
classes/
lib/
ltximg/
target/

/.lein-failures
/.nrepl-port
/checkouts
/classes
/lib
/ltximg
/target

profiles.clj

*.jar
*.class

.hgignore
.hg/

/.#*